In [31]:
import numpy as np
import pandas as pd

all_ages = pd.read_csv('./datasets/all-ages.csv')
recent_grads = pd.read_csv('./datasets/recent-grads.csv')

recent_grads.head()
#all_ages.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0

In [3]:
aa_cat_count = {}
rg_cat_count = {}

def count_totals(df): 
    cat = df['Major_category'].unique()
    res = {}
    for i in cat:
        res[i] = df['Total'][df['Major_category'] == i].sum()
    return res

rg_cat_count = count_totals(recent_grads)
aa_cat_count = count_totals(all_ages)
print(rg_cat_count)
print(aa_cat_count)

{'Agriculture & Natural Resources': 79981.0, nan: 0.0, 'Biology & Life Science': 453862.0, 'Computers & Mathematics': 299008.0, 'Business': 1302376.0, 'Arts': 357130.0, 'Engineering': 537583.0, 'Psychology & Social Work': 481007.0, 'Interdisciplinary': 12296.0, 'Law & Public Policy': 179107.0, 'Education': 559129.0, 'Communications & Journalism': 392601.0, 'Industrial Arts & Consumer Services': 227357.0, 'Physical Sciences': 183363.0, 'Humanities & Liberal Arts': 713468.0, 'Social Science': 529966.0, 'Health': 463230.0}
{'Agriculture & Natural Resources': 632437.0, nan: 0.0, 'Biology & Life Science': 1338186.0, 'Computers & Mathematics': 1781378.0, 'Business': 9858741.0, 'Arts': 1805865.0, 'Engineering': 3576013.0, 'Psychology & Social Work': 1987278.0, 'Interdisciplinary': 45199.0, 'Law & Public Policy': 902926.0, 'Education': 4700118.0, 'Communications & Journalism': 1803822.0, 'Industrial Arts & Consumer Services': 1018072.0, 'Physical Sciences': 1013152.0, 'Humanities & Liberal Arts': 3738335.0, 'Social Science': 2654125.0, 'Health': 2950859.0}

In [4]:
aa = dict(all_ages.pivot_table(index='Major_category', values='Total', aggfunc=np.sum))
rg = dict(recent_grads.pivot_table(index='Major_category', values='Total', aggfunc=np.sum))

In [52]:
aa
rg

{'Total': Major_category
 Agriculture & Natural Resources          79981.0
 Arts                                    357130.0
 Biology & Life Science                  453862.0
 Business                               1302376.0
 Communications & Journalism             392601.0
 Computers & Mathematics                 299008.0
 Education                               559129.0
 Engineering                             537583.0
 Health                                  463230.0
 Humanities & Liberal Arts               713468.0
 Industrial Arts & Consumer Services     227357.0
 Interdisciplinary                        12296.0
 Law & Public Policy                     179107.0
 Physical Sciences                       183363.0
 Psychology & Social Work                481007.0
 Social Science                          529966.0
 Name: Total, dtype: float64}

### Proportion de jeunes diplomÃ© qui n'ont pas un job adÃ©quat

In [14]:
low_wage_proportion = recent_grads['Low_wage_jobs'].sum() / recent_grads['Total'].sum()
print('Le pourcentage des etudiants qui font un travail hors leur cursus',low_wage_proportion)

Le pourcentage des etudiants qui font un travail hors leur cursus 0.09856140415130317

In [47]:
majors = recent_grads['Major'].unique()
rg_lower_count = 0 
for m in majors:
    recent_grads_row = recent_grads[recent_grads['Major'] == m]
    all_ages_row = all_ages[all_ages['Major'] == m]
    if recent_grads_row['Unemployment_rate'].values < all_ages_row['Unemployment_rate'].values: 
        rg_lower_count+=1 
print(rg_lower_count)

/home/lbenboudiaf/.local/lib/python3.5/site-packages/ipykernel_launcher.py:6: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

42