### Problème avec des problèmes manquantes

In [18]:
import pandas as pd 
import numpy as np

titanic_survival = pd.read_csv('./datasets/titanic_survival.csv')
#titanic_survival.info()
#Nombre de valeur null de la colonne 'Age'
age_null = titanic_survival['age'][titanic_survival['age'].isnull()]
print(len(age_null))
age_is_null = pd.isnull(titanic_survival['age'])
good_age = titanic_survival['age'][age_is_null == False] 
mean_age = sum(good_age) / len(good_age)
#mean_age
#titanic_survival.head()

264

### Calculer la moyenne

In [20]:
mean_fare = titanic_survival['fare'].mean()
print(mean_fare)
titanic_survival['fare'][titanic_survival['pclass']==1].mean()

33.29547928134557

87.50899164086688

### Calcule de statistique

In [21]:
fares_by_class = {}
passenger_classes= [1,2,3]
for pclass in passenger_classes: 
    fares_by_class[pclass] = titanic_survival['fare'][titanic_survival['pclass']==pclass].mean()
print(fares_by_class)
passenger_age = titanic_survival.pivot_table(index= 'pclass', values='age')
#print(passenger_age)
passenger_survived = titanic_survival.pivot_table(index= 'pclass', values='survived')
#print(passenger_survived)
port_stat = titanic_survival.pivot_table(index= 'embarked', values=['fare', 'survived'], aggfunc= np.sum)
port_stat

{1: 87.50899164086688, 2: 21.179196389891697, 3: 13.302888700564973}

                fare  survived
embarked
C         16830.7922     150.0
Q          1526.3085      44.0
S         25033.3862     304.0

### Eliminer les valeurs manquantes dans une matrice

In [22]:
new_df = titanic_survival.dropna(axis=0, subset=['age','sex'])
print(new_df.shape)
titanic_survival.shape
nb_deleted_rows = titanic_survival.shape[0] - new_df.shape[0]
print(nb_deleted_rows)

(1046, 14)
264

## Différence entre loc et iloc

In [23]:
# Application sur les lignes. 
first_ten_rows= new_df.iloc[0:10]
row_position_fifth = new_df.iloc[4]
row_index_25 = new_df.loc[25]

# Application sur les colonnes.
row_index_1100_age = new_df.loc[1100,'age']
print(row_index_1100_age)
row_index_25_survived = new_df.loc[25,'survived']
print(row_index_25_survived)
five_rows_three_cols = new_df.iloc[0:5,0:3]
print(five_rows_three_cols)

29.0
0.0
   pclass  survived                                             name
0     1.0       1.0                    Allen, Miss. Elisabeth Walton
1     1.0       1.0                   Allison, Master. Hudson Trevor
2     1.0       0.0                     Allison, Miss. Helen Loraine
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

### Réindexer les lignes d'un dataframe

In [24]:
titanic_reindexed = new_df.reset_index(drop=True)
print(titanic_reindexed.iloc[0:5, 0:3])

   pclass  survived                                             name
0     1.0       1.0                    Allen, Miss. Elisabeth Walton
1     1.0       1.0                   Allison, Master. Hudson Trevor
2     1.0       0.0                     Allison, Miss. Helen Loraine
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

### Application de méthode sur Dataframe

In [25]:
def count_nan(columns):
    item_null = columns[pd.isnull(columns)]
    count = len(item_null)
    return count

column_null_count = titanic_survival.apply(count_nan)
#print(column_null_count) 

def label_age(row):
    age = row['age']
    if pd.isnull(age):
        return 'Unknown'
    elif age < 18 : 
        return 'Minor'
    else:
        return 'Adult'
    
age_labels = titanic_survival.apply(label_age, axis=1)
#print(age_labels)

In [26]:
titanic_survival['age_label'] = age_labels
age_group_survival = titanic_survival.pivot_table(index= 'age_label', values='survived', aggfunc=np.mean)
print(age_group_survival)

           survived
age_label
Adult      0.387892
Minor      0.525974
Unknown    0.277567